<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <form id="dataForm">
            <input type="type" name="name" value="" />

        </form>

    </div>
</body>
</html>